// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// normalize
@import "~normalize.css/normalize";

@import "global";

html, body {
  background-color: transparent;
}


#app {
}

#header {
  border: 1px solid #f00;
  display: flex;
  align-items: stretch;
  padding: 14px 0 14px 80px;

  .link-wrap {
    margin-left: 68px;
    display: flex;
    align-items: center;
    .link {
      margin-right: 45px;
    }
  }
}