// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// normalize
@import "~normalize.css/normalize.css";

// jquery-ui
@import "~jquery-ui/themes/base/core.css";
@import "~jquery-ui/themes/base/theme.css";
@import "~jquery-ui/themes/base/datepicker.css";
@import "~jquery-timepicker/jquery.timepicker.css";

// datatables
@import "~datatables.net-dt/css/jquery.dataTables.min.css";

html, body {
  height: 100%;
}

body {
  min-height: 100%;
}

.datepicker-wrap {
  .calendar {
    width: 40px;
    cursor: pointer;
  }
}

.timepicker-wrap {
  .clock {
    width: 40px;
    cursor: pointer;
  }
}

#app {
  > .content {
    display: flex;
    align-items: stretch;
  }
}

#header {
  border: 1px solid #f00;
  height: 100px;
  overflow: hidden;
}

.sidebar {
  border: 1px solid #0f0;
  width: 25%;
}

.main {
  border: 1px solid #00f;
  width: 75%;
}

.seat-layout {
  $reserved: #98a4a7;
  $sold: #f8386e;
  $selected: #86f5c0;
  $vacant: #fff;
  $business: #ff0;

  %seat {
    width: 26px;
    height: 20px;
    border: 1px solid;
    border-radius: 6px;
    position: relative;
  }

  border: 1px solid #f00; 

  .na {
    visibility: hidden;
  }

  .forbidden {
    &::before, &::after {
      content: "";
      border: 1px solid #f00;
      height: 1px;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
    } 

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &-illustration {
    .reserved,
    .sold,
    .vacant,
    .selected,
    .forbidden,
    .class-B
    {
      @extend %seat;
      display: inline-block;
    }

    .vacant {
      background-color: $vacant;
    }

    .reserved {
      background-color: $reserved;
    }

    .sold {
      background-color: $sold;
    }

    .selected {
      background-color: $selected;
    }

    .class-B {
      background-color: $business;
    }
  }

  &-options {
    [class^="option-"] {
      display: none;
    }

    &.reserve {
      .option-reserve {
        display: block;
      }
    }
  }

  &-row {
    display: inline-block;
  } 

  &-cell {
    @extend %seat;
    list-style: none;
    list-style-type: none;
    float: left;
    cursor: pointer;
    user-select: none;
    text-align: center;

    &.sold,
    &.na,
    &.forbidden
    {
      pointer-events: none;
    }

    &.vacant {
      background-color: $vacant;
    }

    &.class-B {
      background-color: $business;
    }

    &.reserved {
      background-color: $reserved;
    }

    &.sold {
      background-color: $sold;
    }

    &.selected {
      background-color: $selected;
    }

  }
}